/* ========== CSS Sobre ========== */

.menu {
    position: fixed;
    top: 0;
    width: 100%;
}

#titulo-post {
    font-size: 46px;
    font-weight: bold;
}

.artigo-page {
    margin: 120px auto;
    max-width: 820px;
}

.artigo-page p {
    margin: 20px 0;
}

.artigo-page li {
    margin: 30px;
}

.artigo-page li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FF6615;
    margin: 0 10px 3px 0;
}