/* ==== Media Queries ==== */

/* ==== Max Width 960px ==== */

@media (max-width: 959px) {
    .artigo {
        margin: 60px 10px;
    }

}

/* ==== Max Width 790px ==== */


@media (max-width: 790px) {

    p {
        font-size: 16px;
    }

    .item-flex p {
        font-size: 16px;
        margin-top: 20px;
    }

    .skill {
        padding: 0px 20px;
    }

    .artigo-page {
        margin: 120px 10px;
    }

}


/* ==== Max Width 570px ==== */

@media (max-width: 570px) {

    /* ==== Index ==== */

    .menu-nav a {
        font-size: 12px;
        padding: 15px;
    }

	.intro h1 {
		font-size: 28px;
	}

	.intro p {
		font-size: 12px;
    }
    
    .artigo h2 {
        font-size: 23px;
    }

    .artigo p {
        font-size: 14px;
    }

    .data-post {
        font-size: 11px;
    }

    .footer-container {
        justify-content: center;
    }

    .item-2 {
        margin-top: 40px;
    }

    /* ==== Sobre ==== */

    #sobre {
        padding: 30px 0 0 0;
    }

    .item-flex p {
        font-size: 14px;
        margin-top: 20px;
    }

    .skill-container {
        padding-top: 20px;
    }

    .item-skill {
        font-size: 14px;
    }

    .item-skill h3 {
        font-size: 18px;
    }

    /* ==== Artigo ==== */

    #titulo-post {
        font-size: 32px;
    }

    .artigo-page p {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .menu-container {
        display: flex;
        flex-direction: column;        
    }
}