/* ======== CSS Sobre ======== */

/* ==== Sobre ==== */

main {
    /* background: rgb(250, 250, 250); */
}

h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 50px 0;
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    background: var(--color-orange);
    margin: 0 auto;
    width: 60px;
    height: 3px;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0 110px 0;
}

.item-flex {
    max-width: 460px;
    margin: 0 40px;
}

.item-flex img {
    border: 3px solid var(--color-orange);
    border-radius: 50%;
}

.link {
    color: var(--color-orange);
}

/* ==== Skill ==== */

.skill {
    background: #141414;
}


.skill-container {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    padding: 80px 0;
}

.item-skill {
    margin: 0 10px;
    color: #fff;
	font-size: 18px;
	letter-spacing: .4px;
}

.item-skill h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.check {
    display: flex;
    margin: 10px;
}

.check li {
    margin-left: 10px;
}

/* ====== Portfolio ====== */

.portfolio {
    margin: 0 auto;
}

.portfolio-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 0 60px 0;
}

.page {
    border: 3px solid #ff6615;
}

.page h3 {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0 10px 10px;
}

.page p {
    color: #fff;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    display: none;
}

.link-projeto {
    margin: 20px 0 10px 10px;
}

.link-projeto a {
    color: #000;
    font-size: 12px;
}

.link-projeto a:hover {
    text-decoration: underline;
}

.link-github {
    background:var(--color-orange);
    padding: 8px 0;
    text-align: center;
    margin-bottom: -2px;
}

.link-github a {
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;    
}

.link-github a:hover {
    color: #000;
}