.bg-sobre {
    background: #141414;
    color: #fff;
    text-align: center;
}

.bg-sobre h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 20px 0;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.section-1 {
    /* background: #e1e1e1; */
    margin-top: 40px;
    padding: 20px 0;   
}


.container-skill {
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

.item-flex {
    max-width: 460px;
    min-width: 300px;
    margin: 0 10px;
}

.item-flex img {
    margin-left: 75px;
}

.item-section {
    min-width: 400px;
    margin: 20px;
    color: #000;
	font-size: 18px;
	letter-spacing: .4px;

}

.item-section h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.check {
    display: flex;
    margin: 10px;
}

.check li {
    margin-left: 10px;
}

.portfolio {
    max-width: 960px;
    margin: 0 auto;
    height: 600px;
}

.portfolio h3 {
    font-size: 48px;
    max-width: 960px;
    font-weight: bold;
}