/* ========== CSS Sobre ========== */

/* ==== Sobre ==== */

#sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.item-flex {
    max-width: 460px;
    margin: 0 20px;
}

/* ==== Skill ==== */

.skill {
    margin-top: 40px;
    padding: 20px 0;   
}


.skill-container {
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

.item-skill {
    margin: 0 10px;
    color: #000;
	font-size: 18px;
	letter-spacing: .4px;
}

.item-skill h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.check {
    display: flex;
    margin: 10px;
}

.check li {
    margin-left: 10px;
}