/* ==== Estilos Gerais ==== */

:root {
	--color-orange: #FF6615;
}

body {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* ==== Menu de Navegação ==== */

.menu {
	background-color: #141414;
	border-bottom: 2px solid #1d1d1d;
	padding: 20px 0;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-nav a {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .4px;
	margin: 0 5px;
	padding: 10px;
	text-transform: uppercase;
}

.menu-nav a:hover {
	color: var(--color-orange);
	transition: color 500ms;
}

/* ==== Intro ==== */

.intro {
	background-color: #161616;
	color: #fff;	
	width: 100%;
	height: 93vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.foto-intro {
	border: 3px solid var(--color-orange);
	border-radius: 50%;
}

.intro h1 {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0;
}

.intro h3 {
	font-size: 14px;
	letter-spacing: 0.6px;
	line-height: 18px;
	max-width: 340px;
	padding: 10px 0;
	text-align: center;
}

.intro a {
	color: #fff;
	letter-spacing: .4px;
	padding: 5px;
	font-size: 12px;
	text-transform: uppercase;
	
}

.intro a:hover {
	color: var(--color-orange);
	transition: color 500ms;
}

.seta {
	padding-top: 40px;
}

.seta img:hover {
	cursor: pointer;
}

/* ==== Artigos ==== */

.artigo {
	border-bottom: 1px solid #eee;
	margin: 60px auto;
	max-width: 960px;
	padding-bottom: 30px;
}

.artigo h2 {
	color: #141414;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: bold;
}

.artigo p {
	color: #141414;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: .4px;
	margin: 20px 0;
}

.data-post {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.data-post a {
    color: #333;
}

.data-post a:hover {
    color: var(--color-orange);
}

.btn-leia {
	color: var(--color-orange);
	font-size: 16px;
	font-weight: 500;
}

.btn-leia:hover {
	font-weight: 600;
}

.seta-direita {
	margin-left: 10px;
}

/* ==== Footer ==== */

.footer {
	width: 100%;
	background: #141414;
	padding: 8px 0;
}

.footer-contact {
	margin: 0 auto;
	max-width: 960px;
}

.footer-contact ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-contact ul li {
	display: flex;
	padding: 8px 0;
}

.footer-contact p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: .4px;
	margin-left: 10px;
}

.footer-contact a {
	color: #fff;
	font-weight: 600;
}

.footer-contact a:hover {
	color: var(--color-orange);
	transition: color 500ms;
}

.footer-contact span {
	font-weight: 600;
}
