/* Estilos Gerais */

body {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* ==== Menu de Navegação ==== */

.menu {
	background-color: #141414;
}
.menu-container {
	border-bottom: 1px solid #1d1d1d;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px 0 0 10px;
}

.menu-nav ul {
	display: flex;
}

.menu-nav a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .4px;
	padding: 10px;
	text-transform: uppercase;
}

.menu ul li a:hover {
	color: #FF6615;
}

/* ==== Intro ==== */

.intro {
	background-color: #141414;
	width: 100%;
	height: 93vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro h1 {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}

.intro p {
	max-width: 300px;
	text-align: center;
	padding-top: 8px;
	font-size: 14px;
	color: #fff;
	font-style: italic;
}

.seta {
	padding-top: 40px;
}

.seta img:hover {
	cursor: pointer;
}

/* ==== Artigos ==== */

.artigo {
	border-bottom: 1px solid #eee;
	margin: 60px auto;
	max-width: 960px;
	padding-bottom: 30px;
}

.artigo h2 {
	color: #141414;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: bold;
}

.artigo p {
	color: #141414;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: .4px;
	margin: 20px 0;
}

.data-post {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.data-post a {
    color: #333;
}

.data-post a:hover {
    color: #FF6615;
}

.btn-leia {
	color: #FF6615;
	font-size: 16px;
	font-weight: 500;
}

.btn-leia:hover {
	font-weight: 600;
}

.seta-direita {
	margin-left: 10px;
}

/* ==== Footer ==== */

.footer {
	width: 100%;
	background: #141414;
	padding: 20px 0;
}

.footer-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
}

.footer-item {
	flex: 1 1 290px;
	max-width: 290px;
	margin: 0 10px;
}

.footer-item p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: .4px;
}

.footer-item a {
	color: #fff;
	font-weight: 600;
}

.footer-item a:hover {
	color: #FF6615;
}

.item-1 {
	text-align: center;
}

.item-2 {
	max-width: 240px;
}

.item-2 li {
	display: flex;
	padding-bottom: 20px;
}

.item-2 li p {
	margin-left: 10px;
}

.item-2 span {
	font-weight: 600;
}